<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="header:: header"/>


<div class="container">
    <h1 th:text="${title}">Un titre</h1>
    <hr>

    <div class="articles">
        <th:block th:each="article : ${articles}">
            <section>
                <header class="article-header">
                    <h2 class="article-title" th:text="${article.title}"></h2>
                    <div class="article-meta">By  <strong th:text="${article.content}"></strong>, on <strong> une date </strong></div>
                </header>

            </section>
        </th:block>
    </div>

</div>

<div th:replace="footer:: footer"/>
</body>
</html>